*~
*.swp
*.pyc
*.log
*.bak
*.noGit
*.nogit
.doit.db*

patchs/
tmp/
ref_vst/
__pycache__/
**/log/

doc/README.tex
doc/README.aux
doc/README.log
doc/README.dvi
doc/README.out
doc/README.toc

perf.data
*.profile.txt
*.katana.dat
*.histogram.dat
*.histogram.plt

*_r.*
*.lyrdb
c35b4
[Hh]elvellyn*
chipflow
benchs/runset-*.failed
benchs/tests/
benchs/snx/tcb773pdgo/
benchs/snx/nshimizu
benchs/snx/phenitec06_3
benchs/snx/phenitec06_20190926_submit
benchs/ARM/cmos/runs/
benchs/AM2901/standart_cells/cmos/runs
benchs/MIPS/*/*_r.*
benchs/ARM/cmos/chip.*
benchs/ISPD18/*/*.def

.ipynb_checkpoints
.vscode
