[submodule "dks/sky130_nsx2/libs.tech/skywater-pdk-libs-sky130_fd_pr"]
	path = dks/common/libs.tech/skywater-pdk-libs-sky130_fd_pr
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_pr.git
[submodule "dks/common/libs.tech/IHP-Open-PDK"]
	path = dks/common/libs.tech/IHP-Open-PDK
	url = https://github.com/IHP-GmbH/IHP-Open-PDK.git
[submodule "dks/common/libs.tech/globalfoundries-pdk-libs-gf180mcu_fd_pr"]
	path = dks/common/libs.tech/globalfoundries-pdk-libs-gf180mcu_fd_pr
	url = https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr.git
